# .NET Core
*.swp
*.dll
*.exe
*.pdb
*.dll.config
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.user
*.userosscache
*.sln.docstates

# Test Results
TestResults/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tye
.tye/

# LocalDB files
*.ldf
*.mdf
